.issue-container {
    max-height: 750px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.issue-container::-webkit-scrollbar {
    display: none;
}

.issue-container li {
    margin-left: 1rem;
}

.no-dot {
    list-style-type: none;
}

.issue-title {
    margin-bottom: 0.2rem;
}

.issue-info {
    display: flex;
    align-items: center;
}

.state, .label {
    padding: 5px 10px;
    border-radius: 10px;
}

.state  {
    margin-right: 0.2rem;
}

.opened {
    background-color: #3df380;
}

.closed {
    background-color: #ff3434;
}

.merged {
    background-color: #7bb3ff;
}

.branches {
    margin: 0.2rem;
    font-weight: bold;
    font-style: italic;
}


.description {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.issue-container h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.issue-container .assignees, .reviewers {
  padding: 3px;
  font-style: italic;
}

.person{
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 0.3rem;
    font-weight: 300;
}

.person .user-avatar {
    margin-right: 0.2rem;
}

.issue-container .comment-container {
    display: flex;
    align-items: center;
}

.issue-container .user-avatar {
    display: flex;
    border-radius: 10px;
    height: 2rem;
}

.note {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 10px;
    border: 1px solid var(--faint);
    background-color: white;
    width: 100vh;
}

.system-note {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    margin-left: 2.5rem;
    display: flex;
    align-items: center;
}

.system-note p {
    color: var(--faint);
}

.note-header {
    margin-bottom: 0.7rem;
}

.note-body {
    margin-left: 0.8rem;
}

.note-header  {
    margin-left: 0.8rem;
    display: flex;
    align-items: center;
}

.note-header > *, .system-note > * {
    margin-right: 6px;
}

.name {
    font-weight: bold;
    margin-left: 0.2rem;
}

.username {
    color: gray;
}

.timestamp {
    font-style: italic;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}

.delete-btn {
    margin-left: auto;

}

.delete-btn svg:hover {
    fill: red;
}

.label  {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

