.top-area {
    display: flex;
    flex-direction: column;
    height: 2rem;
    position: relative;
    top: 1rem;
    box-shadow: var(--box-shadow);
}

.top-area .total {
    background: #dcdcde;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.85rem;
    font-weight: 800;
    line-height: 1rem;
    padding: 0.26rem 0.3rem;
    border-radius: 10rem;
    width: 1.4rem;
    height: 1.2rem;
    margin-left: 0.3rem;

}

.issues-nav {
 display: flex;
}

.nav-item-container {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.issues-nav .nav-item {
    display: flex;
    flex-direction: row;
}

.issues-nav .nav-item-container.active {
    border-bottom: 3px solid var(--color-active);
}

.issues-nav .nav-item-container:hover {
    border-bottom: 3px solid var(--faint);
    transition: background-color .3s ease, color .3s ease;
}
